%h1 This is the home page

.progress.alert{:class => "[small-# large-#] [secondary success] [radius round]"}
  %span.meter{:style => "width: #{number_to_percentage(@percent_complete, precision: 2)}"}

  
