-@repos.each do |r|
  .panel
    %h2=r.name
    %h4 #{r.total_this_week(r.name,current_user).to_i} out of #{r.weekly_goal} points this week
    .progress.success.round
      %span.meter{:style => "width: #{number_to_percentage(r.percentage_complete(current_user), precision: 2)}"} 
