!!!
%html
  %head
    %title Velocity
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %main{:role => "main"}
      .large-6.large-centered.columns.text-center.big-login
        %h1 Velocity
        %h3 Track your speed
        =link_to "Sign in with github", user_omniauth_authorize_path(:github), class: 'button'